{% include 'home/header.html' %}
{% include 'home/messages.html' %}
{%block homepage%}

<div style="background-image:url('/static/home/page/home.jpg'); border-radius: 20px;">
<div class="img-content">
    <strong>INDOMITABLE TECH</strong>
    <h2>Welcome to my website !</h2>
</div>
</div>

<hr>
<hr>

<div class="mid-content1">
    <h2>Our Motto</h2>
    Offer World Class Services to our Business Partners.
</div>
<hr>
<hr>

<div class="mid-content2">
    <h2>Services & Trainings Offered</h2>
</div>

<div class="row" style="padding-left:5.5%;">
    <div class="col-sm-4 mycard">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static\home\tech\ai.jpg" alt="Artificial Intelligence">
            <div class="card-body">
              <p class="card-text">AI | ML</p>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mycard">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static\home\tech\datascience.jpg" alt="Data Science">
            <div class="card-body">
              <p class="card-text">Data Science</p>
            </div>
          </div>
      </div>
    <div class="col-sm-4 mycard">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static\home\tech\dataanalysis.jpg" alt="Data Analysis">
            <div class="card-body">
              <p class="card-text">Data Analysis and Visualizaiton</p>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mycard">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static\home\tech\python.jpg" alt="Python">
            <div class="card-body">
              <p class="card-text">Python Programming</p>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mycard">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static\home\tech\webdev.jpg" alt="Web Development">
            <div class="card-body">
              <p class="card-text">Web Development</p>
            </div>
          </div>
    </div>
    <div class="col-sm-4 mycard">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static\home\tech\api.jpg" alt="REST API">
            <div class="card-body">
              <p class="card-text">REST API</p>
            </div>
          </div>
      </div>
  </div>





{%endblock%}


{% include 'home/footer.html' %}