{%include 'home/header.html'%} {%block content%}
<div
  style="
    background-image: url('/static/home/page/tutorial.jpg');
    border-radius: 20px;
  "
>
  <div class="img-content">
    <strong>Tutorials</strong>
    <h2>I love to teach !</h2>
  </div>
</div>
<hr />
<hr />
<div class="mid-content1">
  <h2>Love For Teaching</h2>
  <p>From early childhood, I have had a keen interest in teaching.</p>
  <p>
    I feel I connect well with the students because I put myself in the
    student's shoes and teach from a perspective of the student.
  </p>
  <p>I have experience teaching technical as well as non-technical things.</p>
  <p>
    I teach Machine Learning, Deep Learning, Data Science, Data Visualization,
    Web Development, REST APIs etc.
  </p>
  <p>I have a YouTube channel where I keep posting tutorials.</p>
</div>
<hr />
<hr />
<div class="mid-content2">
  <h2>YouTube Tutorials</h2>
  <a href="https://www.youtube.com/channel/UCpODmuqv_ljQ_vMYwO71a_g" target="_blank"
    >Click Here for YouTube Channel</a
  >
</div>

<div class="row" style="padding-left:5.5%;">
  <div class="col-sm-4 mycard">
    <div class="card" style="width: 18rem;">
        <a href="https://www.youtube.com/playlist?list=PL6dnsYU19VbMqoc9jlzCqTYgn_FC_F2vb" target="_blank">
      <img
        class="card-img-top"
        src="static\home\tech\dl.jpg"
        alt="Deep Learning with PyTorch and Tensorflow"
      />
      <div class="card-body">
        <p class="card-text">Deep Learning with PyTorch and Tensorflow</p>
      </div></a>
    </div>
  </div>
  <div class="col-sm-4 mycard">
    <div class="card" style="width: 18rem">
        <a href="https://www.youtube.com/playlist?list=PL6dnsYU19VbOV5sw5hX3ithi52VWMFI5J" target="_blank">
      <img
        class="card-img-top"
        src="static\home\tech\viz.jpg"
        alt="Data Visualization"
      />
      <div class="card-body">
        <p class="card-text">Data Visualization using Python Libraries</p>
      </div></a>
    </div>
  </div>
  <div class="col-sm-4 mycard">
    <div class="card" style="width: 18rem">
        <a href="https://www.youtube.com/playlist?list=PL6dnsYU19VbMR6M7zRhd9j3H2o3UdjTa7" target="_blank">
      <img
        class="card-img-top"
        src="static\home\tech\fastapi.jpg"
        alt="Create REST APIs using FASTAPI"
      />
      <div class="card-body">
        <p class="card-text">Create REST APIs using FASTAPI Framework</p>
      </div></a>
    </div>
  </div>
</div>

{%endblock%} {%include 'home/footer.html'%}
